<table class="table" id='listing_taxonomies' data-hook>
  <thead>
    <tr data-hook="taxonomies_header">
      <th class="no-border"></th>
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr id="<%= spree_dom_id home %>" data-hook="homes_row">
        <td class="move-handle">
          <span class="icon icon-phone"></span>
        </td>
        <td><%= home.name %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit home.id, no_text: true if can?(:edit, home) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
